<div class="details-container" *ngIf="property">

  <mat-card class="details-card">

    <img
      mat-card-image
      [src]="property.image"
      alt="Property Image">

    <mat-card-content>
      <h2>{{ property.title }}</h2>

      <p><strong>Location:</strong> {{ property.location }}</p>
      <p><strong>Rent:</strong> ₹{{ property.rent }}</p>
      <p><strong>Amenities:</strong></p>

      <ul>
        <li *ngFor="let amenity of property.amenities">
          {{ amenity }}
        </li>
      </ul>
    </mat-card-content>

    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="accent"
        [routerLink]="['/booking-request', property.id]">
        Request Booking
      </button>

      <button
        mat-stroked-button
        color="primary"
        routerLink="/properties">
        Back
      </button>
    </mat-card-actions>

  </mat-card>

</div>
